body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
  }
  
  .container {
    background-color: white;
    max-width: 400px;
    margin: 80px auto;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    color: #e65100;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
  }
  
  form input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 14px;
    background-color: #e65100;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d84315;
  }
  
  p {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
  }
  
  a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
  