/* Cabeçalho */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main_conteiner_head {
  background-color: #FAFAFA;
  padding: 25px 0;
}

.conteiner_head {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_home a {
  font-size: 1.5rem;
  color: #FF5722;
  text-decoration: none;
  font-weight: bold;
}

.form-search {
    display: flex;
    width: 595px; 
}

.form-search input {
    flex: 1;
    padding: 10px 15px;
    border: 5px solid #FF5722;
    border-radius: 20px 0 0 20px;
    outline: none;
    background-color: #FF5722;
    color: black;
    font-size: 14px;
}

.form-search button {
    padding: 0 12px;
    border: 1px solid #FF5722;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: #FF5722;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-search i {
    font-size: 14px;
}

.user-options a img {
  width: 30px;
  margin-left: 15px;
}

@media (max-width: 768px) {
  .conteiner_head {
    flex-direction: column;
  }
  .form-search {
    margin: 10px 0;
  }
}
input::placeholder {
    color: #ffffff; 
  }
  nav ul {
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #FF5722;
  }

  nav ul li {
    padding: 15px 20px;
    margin-right: 50px;
  }

  nav ul li a {
    text-decoration: none;
    color: #FAFAFA; 
    font-family: 'Poppins', sans-serif;    }

  nav ul li a:hover {
    color: rgb(255, 0, 0); 
  }