:root {
  --cor-primaria: #FF5722;
  --cor-secundaria: #fafafa;
  --cor-fundo: #DADADA;
  --cor-cinza: rgba(0, 0, 0, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--cor-fundo);
}

/* Mensagem de carrinho vazio */
.aviso_empty {
  padding: 50px 50px;
  margin: 50px 10%;
  border-radius: 25px;
  background-color: var(--cor-secundaria);
  justify-self: center;
  align-self: center;
}


/* Cabeçalho */
.main_conteiner_head {
  background-color: #f5f5f5;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.conteiner_head {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo_home a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #FF5722;
  text-decoration: none;
  font-weight: bold;
  gap: 10px;
}

.logo_home label {
  border-left: 1px solid var(--cor-primaria);
  padding: 10px;

}

.logo_home img {
  width: auto;
  height: 50px;
}

/* Barra de Pesquisa */
.form-search {
  display: flex;
  max-width: 595px;
  width: 100%;
}

.form-search input {
  flex: 1;
  padding: 10px 15px;
  border: 5px solid var(--cor-primaria);
  border-right: none;
  border-radius: 20px 0 0 20px;
  outline: none;
  background-color: var(--cor-secundaria);
  color: black;
  font-size: 14px;
}

.form-search input::placeholder {
  color: var(--cor-primaria);
}

.form-search button {
  padding: 0 12px;
  border: 5px solid var(--cor-primaria);
  border-left: none;
  border-radius: 0 20px 20px 0;
  background-color: var(--cor-secundaria);
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-search i {
  font-size: 14px;
}

/* Área de Login/Cadastro/ */
.user-options {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: rgb(224, 223, 223);
  border-radius: 50%;
  transition: background 0.3s ease;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.user-name {
  position: absolute;
  top: 52px;
  font-size: 14px;
  color: #333;
  text-align: center;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: bold;
}

.user-menu-container {
  position: relative;
}

/* Menu Suspenso */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  min-width: 180px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdown-menu p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.dropdown-menu button {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #e60000;
}

.main_conteiner {
  display: grid;
  grid-auto-flow: row;
}

/* Categorias da lista */
.lista_categorias {
  background-color: var(--cor-secundaria);
  padding: 25px 30px;
  margin: 15px 0;
  width: 100%;
  max-width: 1050px;
  justify-self: center;;
  display: grid;
  grid-template-columns: 25px auto 12.5rem 12.5rem 12.5rem;
}

.lista_categorias .nada1 {
  color: var(--cor-secundaria);
}

.lista_categorias .produto {
  font-size: 1.1rem;
  justify-self: flex-start;
  padding-left: 50px;
}

.lista_categorias .preco-unitario, .lista_categorias .quantidade, .lista_categorias .preco-total {
  font-size: 1.1rem;
  justify-self: center;
}

/* Itens da lista */
.carrinho_item {
  background-color: var(--cor-secundaria);
  max-height: 200px;
  max-width: 1050px;
  width: 100%;
  padding: 25px 30px;
  margin: 15px 0;
  display: grid;
  grid-template-columns: 25px 150px auto 12.5rem 12.5rem 12.5rem;
  grid-template-areas:
    "marker name name precoUni quantidade precoTotal"
    "marker img img precoUni quantidade precoTotal";
  justify-self: center;
}

.carrinho_item .marker {
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 1.5rem 1px;
  color: var(--cor-secundaria);
  grid-area: marker;
}

.carrinho_item .img {
  height: 90px;
  justify-self: flex-start;
  padding-left: 40px;
  grid-area: img;
}

.carrinho_item .nome {
  color: var(--cor-primaria);
  font-size: 1rem;
  font-weight: bold;
  height: fit-content;
  min-width: 120px;
  padding-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  grid-area: name;
}

.carrinho_item .preco_unitario {
  align-self: center;
  justify-self: center;
  grid-area: precoUni;
}

.carrinho_item .quantidade {
  height: fit-content;
  width: 200px;
  padding: 5px 10px;
  border: 1px solid var(--cor-primaria);
  border-radius: 5px;
  gap: 10px;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: quantidade;
}

.carrinho_item .quantidade .excluirItem {
  background-color: var(--cor-secundaria);
  border: 2px var(--cor-primaria);
  font-size: 1rem;
  margin-right: 20px;
}

.carrinho_item .quantidade label, .carrinho_item .quantidade i {
  font-size: 1rem;
}

.carrinho_item .preco_total {
  justify-self: center;
  align-self: center;
  color: var(--cor-primaria);
  font-size: 1rem;
  grid-area: precoTotal;
}


/* Finalização */
.finisher {
  background-color: var(--cor-secundaria);
  padding: 25px 30px;
  margin: 15px 0 0;
  width: 100%;
  max-width: 1050px;
  justify-self: center;
  display: grid;
  grid-template-columns: 220px auto auto 200px;
  grid-template-areas: "selectAll excluir valorTotal continuar";
  gap: 30px;
  position: sticky;
  bottom: 0px;
}

.finisher .select_all {
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 1.5rem auto;
  align-self: center;
  gap: 1em;
  grid-area: selectAll;
}

.finisher .excluir {
  font-size: 1.1rem;
  align-self: center;
  justify-self: left;
  border: 0;
  grid-area: excluir;
}

.finisher .preco_final {
  align-self: center;
  justify-self: end;
  grid-area: valorTotal;
  gap: 10px;
}

.finisher .preco_final .texto {
  font-size: 1.1rem;
}

.finisher .preco_final .preco {
  font-size: 1.3rem;
  color: var(--cor-primaria);
}

.finisher .finalizar {
  align-self: center;
  justify-self: center;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  border: 4px solid var(--cor-primaria);
  border-radius: 8px;
  padding: 15px 80px;
  grid-area: continuar;
}

.finisher .finalizar:disabled,
.finisher .finalizar[disabled]{
  color: var(--cor-primaria);
  background-color: var(--cor-secundaria);
}

a, input, button {
  cursor: pointer;
}

/* Responsividade */

@media (max-width: 850px) {
  .conteiner_head {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 15px 10px;
    gap: 10px;
  }

  .form-search {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
  }

  .user-options {
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }

  .main_conteiner_head {
    margin-bottom: 0;
  }
  
  .lista_categorias {
    display: none;
  }
  
  .carrinho_item {
    padding: 10px 30px;
    grid-template-columns: 25px 150px auto auto;
    grid-template-areas:
    "marker name name name"
    "marker img precoUni precoTotal"
    "marker img quantidade quantidade";
  }

  .finisher {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "selectAll valorTotal"
      "excluir continuar";
      padding: 25px 15px;
      gap: 0;
    }

    .finisher .excluir {
      align-self: flex-start;
      padding-top: 10px;
      padding-left: 42px;
    }

    .finisher .preco_final {
      justify-self: center;
      font-size: 1rem;
      gap: 5px;
    }
}