body {
  background-color: #f5f5f5;
}

.main_conteiner {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fafafa;
}

.categoria-container {
    margin: 40px 20px;
}

.titulo-categoria {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 10px;
    color: #FF5722;
}
.lista-produtos {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px 40px; /* Da espaço */
}

.lista-produtos::-webkit-scrollbar {
    display: none; /* Esconde */
}

.produto {
    flex: 0 0 auto;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s;
    margin-bottom: 10px; 
    margin-top: 20px;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.linha-produtos {
  position: relative;
  display: flex;
  align-items: center;
}
.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seta:hover {
  background-color: #f0f0f0;
}

.seta.esquerda {
  left: 0;
}

.seta.direita {
  right: 0;
}

.seta svg {
  width: 24px;
  height: 24px;
  fill: #333;
}
.carousel {
  margin-top: 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
  
.slides {
  display: flex;
  transition: transform 0.5s ease;
}
  
.slide {
  min-width: 100%;
  display: none;
}
  
.slide.ativo {
  display: block;
}
  
.slide img {
  width: 100%;
  display: block;
}
  
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.812);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.btn svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.anterior {
  left: 10px;
}

.proximo {
  right: 10px;
}

.indicadores {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  }
  
.indicadores span {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
  
.indicadores .ativo {
  background-color: #717171;
}
.categorias-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px;
}

.categoria-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.categoria-item img {
  width: 130px;
  height: 130px;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  object-fit: cover;
  transition: transform 0.3s ease;
}

.categoria-item img:hover {
  transform: scale(1.05);
}

.categoria-item p {
  margin-top: 10px;
}
.mais-opcoes {
    margin-top: 0;
    text-align: right;
    padding-right: 20px;
}

.mais-opcoes a {
    color: #ff3c00;
    text-decoration: none;
    font-weight: bold;
    transition: text-decoration 0.3s;
}

.mais-opcoes a:hover {
    text-decoration: underline;
}